body{    
    background: -o-linear-gradient(gray);
    height: 100%;
    color: white; 
    justify-content: center;
    align-items: center;

}

.container{
    width: 200px;
    margin: 100px auto;
    padding: 100px;
    background-color: aquamarine;
}

h1,h2,h3{
        font-weight: 150;
        font-style:bold;
        font-size: 2.5rem;
        text-transform: capitalize;
}


#seconds,
#ten,
#minutes{
    font-size: 2em;
}

button{
    width: 150px;
    height: 50px;
    background: transparent;
    color:blueviolet;
    border: 3px solid white ;
    border-radius: 5px;
    margin-right: 10px;
    outline: none;
}

button:hover{
    background:white;
    color:aqua;
    font-weight: 700;
    text-transform: capitalize;
}
